.navbar {
	background-color: var(--clr-bg-600-trans);
	border-bottom: 1px solid var(--clr-bg-800);

	height: var(--header-height);

	position: fixed;

	transform-origin: top;

	z-index: 1;
}

.navbar .container {
	position: relative;

	height: var(--header-height);

	transform-origin: top;
}

.navbar-container {
	--font-size: 40px;

	font-size: var(--font-size);

	line-height: calc(var(--font-size));

	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

.navbar-container a {
	text-decoration: underline;
}

.navbar-container a:link, .navbar-container a:visited, .navbar-container a:hover, .navbar-container a:active {
	text-decoration: none;

	color: var(--clr-fg-800);
}

.logo-split, .logo-split p {
	width: max-content;
}


#logo-first::before {
	content: "R";
	color: rgba(var(--clr-fg-800-r), var(--clr-fg-800-g), var(--clr-fg-800-b), 1);
}

#logo-second::before {
	content: "G";
	color: rgba(var(--clr-fg-800-r), var(--clr-fg-800-g), var(--clr-fg-800-b), 1);
}

@media only screen and (max-width: 700px) {

	.navbar {
		transform: scaleY(1);
	}

	.navbar, .navbar .container, #logo-first, #logo-second {
		transition: 200ms ease;
	}

	.navbar.scrolled a, .navbar.scrolled .logo-split {
		display: inline-block;

		width: 2.5ch;
		height: var(--font-size);
	}

	.navbar.scrolled {
		transform: scaleY(calc(58/98));
	}

	.navbar .container {
		transform: scaleY(1);
	}

	.navbar.scrolled .container {
		transform: scaleY(calc(98/58));
	}
	
	.navbar.scrolled #logo-first {
		color: rgba(var(--clr-fg-800-r), var(--clr-fg-800-g), var(--clr-fg-800-b), 0);
	}
	
	.navbar.scrolled #logo-second {
		color: rgba(var(--clr-fg-800-r), var(--clr-fg-800-g), var(--clr-fg-800-b), 0);
	
		transform: translate(1.1ch, calc(0px - var(--font-size)));
	}
}

@media only screen and (min-width: 700px) {
	.logo-split {
		display: flex;

		flex-direction: row;
	}

	.navbar-container {
		--font-size: 48px;
	}

	.logo-split :is(p + p) {
		margin-left: calc(var(--font-size)/3);
	}
}